.sidebar {
  // Estilos de la caja
  background-color: $color-bg-medium;
  border-right: 1px solid $color-border;
  padding: 20px 10px;
  overflow-y: auto;

  // Estilos del Título
  h2 {
    text-align: center;
    margin-bottom: 30px;
    color: $color-primary;
  }

  // Estilos de la Navegación
  nav ul {
    list-style: none;
    padding: 0;
  }

  nav li {
    padding: 12px 15px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 500;
    transition: color 0.2s;
    color: $color-text-medium;

    &:hover {
      color: $color-primary;
      background-color: rgba($color-primary, 0.1);
    }
  }
  nav li.active {
    color: $color-text-lightest; // Texto más claro
    background-color: $color-primary; // Fondo con el color de acento
    font-weight: 700; // Más negrita

    &:hover {
      // Evitamos el cambio de color al pasar el ratón si ya está activo
      background-color: $color-primary;
    }
  }
}
