.sidebar {
  // Estilos de la caja
  background-color: $color-bg-dark;
  border-right: 1px solid $color-border;
  padding: 20px 10px;
  overflow-y: auto;

  // Estilos del Título
  h2 {
    text-align: center;
    margin-bottom: 30px;
    color: $color-primary;
  }

  // Estilos de la Navegación
  nav ul {
    list-style: none;
    padding: 0;
  }

  nav li {
    padding: 12px 15px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 500;
    transition: background-color 0.2s;

    &:hover {
      background-color: lighten($color-primary, 40%);
      color: darken($color-primary, 10%);
    }
  }
}
