.spinner-container {
  // Para centrar el spinner en el contenido principal
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  grid-column: 1 / -1; /* Ocupa todo el ancho si está dentro del grid */
  color: $color-text-medium;
}

.spinner {
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid $color-primary; /* El color principal para el spinner */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite; /* Aplica la animación */
  margin-bottom: 15px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
