* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  font-size: $font-size-base;
  background-color: $color-bg-deep;
  color: $color-text-medium;
  line-height: 1.5;
}

h1,
h2,
h3 {
  line-height: 1.2;
}
